
@{
    ViewBag.Title = "Stats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/user/TopCustomerDetails">Top Customer Details</a>
<br />
<br />
<br />



<a href="/vendor/VendorWithMaxBrand">Vendor With Maximum Number of Brands</a>


<br />
<br />
<br />



<a href="/product/TopLaptopDetails">Top Laptop</a>
<br />
<br />
<br />



<a href="/user/TopSellerReferenceDetails">Top Seller Reference Details</a>
<br />
<br />
<br />



<a href="/user/ProductBoughtByBuyers">Product Bought By Buyers</a>

