@model PcHut.Models.P
@{ ViewBag.Title = "Cart"; }
@section css {
    <link href="~/Content/Cart.css" rel="stylesheet" />
}
<h2>Your Shopping Cart</h2>
@if (Model.Products == null )
{
<p>Nothing in your cart yet.</p> 
<span>@Session["Cart"]</span>}
        
            {
    


@using (Html.BeginForm("Index", "Checkout", FormMethod.Post))
{

<input type="submit" id="btnRemove" value="Checkout" />}